<!DOCTYPE html>
<html ng-app="CalculadoraApp">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Calculadora</title>
    <style>
        .jumbotron {
            width: 400px;
            margin-top: 15px;
            text-align: center;
            margin-left: auto;
            margin-right: auto;
        }

        .form-control {
            margin-bottom: 5px;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
</head>

<body>
    <div style="background:transparent !important" class="jumbotron" ng-controller="CalculadoraController">
        <h3>{{titulo}}</h3>
        <input class="form-control" type="text" ng-model="num1" placeholder="Número 1" />
        <input class="form-control" type="text" ng-model="num2" placeholder="Número 2" />
        <label>
            <input type="radio" ng-model="calculo" name="radio" value="adicao">Adição
        </label>

        <label>
            <input type="radio" ng-model="calculo" name="radio" value="subtracao">Subtração
        </label>

        <button class="btn btn-primary btn-block" ng-click="Calcular(num1, num2, calculo)">Calcular</button>
        <div id=resultado>{{resultado}} </div>


    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="app/calculadora.module.js"></script>
    <script src="app/calculadora-controller.js"></script>
</body>

</html>